<div>
  <h1>WELCOME TO MY APP!</h1>
</div>
<body>
  <img id="picture" src="https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_center,q_auto:good/v1/gcs/platform-data-dsc/events/small-logo.png" alt="GDSC">
  <div class="box">
    <div id="title">
      <div>
        <h1>Log in</h1>
      </div>
      <div>
        <div><h2> Username</h2>
          <div id="Name">
            <input type="Name">
          </div>
        </div>
        <div id="Password"><h2>Password</h2>
          <div>
            <input type="password">
          </div>
        </div>
        <div id="Troublelogging"><h3>Trouble logging in?</h3></div>
      </div>
      <div><button id="button">log in</button></div>
      <div>Don't have an account? <a href="#">Sign in</a></div>
      </div>
  </div>
</body>
